<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fedex Tracking</title>
    <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/pretty-print-json@1.3/dist/pretty-print-json.css>
</head>
<body>
<form id="form" onsubmit="submitFunction()">
    <input type="number" name="track_number">
    <button type="submit">Track</button>
</form>
{% if response %}
    <pre id=account class=json-container>{{response | tojson(indent=2)}}</pre>
{% else %}
     <p> No tracking number yet </p>
{% endif %}
</body>
<script>
function submitFunction(){
    var action_src = "http://127.0.0.1:8000/?track_number=" + document.getElementsByName("track_number")[0].value;
    var form = document.getElementById('form');
    form.action = action_src ;
}
</script>
</html>